<?xml version="1.0" encoding="utf-8"?>
<SettGreatUnit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <EmailSettings>
    <SmtpHostName>smtp.gmail.com</SmtpHostName>
    <SmtpPort>587</SmtpPort>
    <EnableSSL>true</EnableSSL>
    <Login>cccpmade@gmail.com</Login>
    <Password>clearnew</Password>
    <TargetEmailFrom>cccpmade@gmail.com</TargetEmailFrom>
    <TargetEmail>cccpmade@gmail.com</TargetEmail>
    <EmailTitle>Новое с АВИТО</EmailTitle>
  </EmailSettings>
  <SectionsList>
    <!--<SettSection>
		<Name>Звуковая</Name>
      <Url>https://www.avito.ru/moskva/bytovaya_elektronika?bt=1&amp;q=essence</Url>
      <UrlDomain>https://www.avito.ru</UrlDomain>
      <UrlDomainShort>avito.ru</UrlDomainShort>
      <FrequencyWebRequestMSeconds>2000</FrequencyWebRequestMSeconds>
      <FrequencyEmailSeconds>900</FrequencyEmailSeconds>
      <InterestList>
        <Interest>
          <Name>Asus Essence One 6-25</Name>
          <PriceMin>6000</PriceMin>
          <PriceMax>25000</PriceMax>
          <ConstraintsList>
            <string>stx</string>
          </ConstraintsList>
          <KeyList>
            <string>one</string>
          </KeyList>
        </Interest>
      </InterestList>
    </SettSection>-->
    <SettSection>
      <Name>Мониторы</Name>
      <Url>https://www.avito.ru/moskva/tovary_dlya_kompyutera/monitory?bt=1&amp;user=1&amp;q=ips</Url>
      <UrlDomain>https://www.avito.ru</UrlDomain>
      <UrlDomainShort>avito.ru</UrlDomainShort>
      <FrequencyWebRequestMSeconds>2000</FrequencyWebRequestMSeconds>
      <FrequencyEmailSeconds>900</FrequencyEmailSeconds>
      <InterestList>
        <Interest>
          <Name>IPS 4.5-15</Name>
          <PriceMin>4500</PriceMin>
          <PriceMax>15000</PriceMax>
          <OnlyWithPictures>true</OnlyWithPictures>
          <ConstraintsList>
            <string>21.5</string>
            <string>1280</string>
          </ConstraintsList>
          <KeyList>
          </KeyList>
        </Interest>
      </InterestList>
    </SettSection>
    <!--<SettSection>
      <Name>квартиры</Name>
      <Url>https://www.avito.ru/moskva/kvartiry/sdam/na_dlitelnyy_srok?pmax=25000&amp;pmin=15000&amp;user=1&amp;f=550_5702-5703</Url>
      <UrlDomain>https://www.avito.ru</UrlDomain>
      <UrlDomainShort>avito.ru</UrlDomainShort>
      <FrequencyWebRequestMSeconds>2000</FrequencyWebRequestMSeconds>
      <FrequencyEmailSeconds>900</FrequencyEmailSeconds>
        <InterestList>
        <Interest>
          <Name>Квартиры 18-25</Name>
          <PriceMin>18000</PriceMin>
          <PriceMax>25000</PriceMax>
			<onlywithpictures>true</onlywithpictures>
			<lastemaildt />
			<constraintslist>
				<string>комиссия</string>
				<string>электричк</string>
				<string>км от мкад</string>
				<string>км. от мкад</string>
				<string>protivagenta</string>
				<string>миршика</string>
			</constraintslist>
			<keywords>
			      <string>без комиссии</string>
			      <string>собственник</string>
			      <string>владелец</string>
			      <string>частное лицо</string>
          </keywords>
        </Interest>
      </InterestList>
    </SettSection>-->
  </SectionsList>
</SettGreatUnit>